<div>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img src="<%= channel_focus.name %>" class="rounded-circle" width="24" height="24" alt="">
                </div>
                <div class="col">
                    <p><%= channel_focus.name %></p>
                </div>
            </div>
        </div>
    </header>
    <div>
        Body
    </div>
    <div>
        <div>
            <input type="text" name="message" id="messageInput">
        </div>
    </div>
</div>
