<div class="container-fluid bg-dark">
    <div class="d-flex align-items-center">
        <ul class="nav me-auto align-items-center">
            <li class="nav-item">
                <p class="navbar-text fw-bold mb-0">Friends</p>
            </li>
            <li class="nav-item">
                <a href="/chat?status=online" class="nav-link">Online</a>
            </li>
            <li class="nav-item">
                <a href="/chat" class="nav-link">All</a>
            </li>
            <li class="nav-item">
                <a href="/chat?blocked=true" class="nav-link">Blocked</a>
            </li>
            <li class="nav-item">
                <a href="/chat?muted=true" class="nav-link">Muted</a>
            </li>
            <li class="nav-item">
                <a href="/chat?archived=true" class="nav-link">Archived</a>
            </li>
            <li class="nav-item">
                <a href="/add-friend" class="btn py-0 btn-success">Add Friend</a>
            </li>
        </ul>
    </div>
</div>