<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/helper.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/external.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/helper.js" defer></script>
    <script src="/js/bundle.js" defer></script>
    <script src="/js/app.js" defer></script>
</head>

<body class="container-fluid" data-theme="<%= user.settings.theme %>">
    <section>
        <main>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-2 p-0">
                        <div>
                            <%- include('components/chatSidebar') %>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div>
                            <% if (page === "home" || page === "addFriend") {%>
                                <%- include('components/chatHeader') %>
                            <%}%>
                            <% const pageMappings = { 
                                addFriend: './pages/addFriend',
                                home: './pages/home',
                                chat: './pages/chat',
                            }; 

                            const includePage=pageMappings[page] || pageMappings.home; %>

                            <%- include(includePage) %>                                
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>

</html>