<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
</head>

<body>
    <header>
        <h1>Docs</h1>
    </header>
    <section>
        <main>
            <h1>Channels</h1>
            <p>Channels are chat rooms for user to communicate with each other.</p>
            <p>Every channel has a different type like voice, DM or group.</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>DM</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Group</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Voice</td>
                    </tr>
                        <td>3</td>
                        <td>Annoucements</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </section>
</body>

</html>