<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign Up to DZ Messages">
    <title>Register</title>
    <link rel="stylesheet" href="/css/helper.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/register.js" defer></script>
    <script src="/js/helper.js" defer></script>
    <script src="/js/bundle.js" defer></script>
    <script src="/js/app.js" defer></script>
</head>

<body>
    <section>
        <main>
            <div class="container d-flex vh-100 align-items-center justify-content-center">
                <div class="bg-dark p-4 rounded-3 w-50 shadow overflow-hidden">
                    <form action="/api/v1/auth/register" method="POST" class="d-flex flex-column gap-3">
                        <div class="page text-white" id="pageElement">
                            <div class="step active" id="step-1">
                                <div>
                                    <h5>Welcome</h5>
                                    <p>Enter email address</p>
                                </div>
                                <div class="form-group d-flex flex-column">
                                    <input type="email" name="email" class="form-control m-0" id="email" placeholder="E-Mail Address"
                                        required>
                                </div>
                            </div>
                            <div class="step" id="step-2">
                                <div>
                                    <h5>Personal Information</h5>
                                    <p>Enter your personal information</p>
                                </div>
                                <div>
                                    <div class="form-group d-flex flex-column">
                                        <input type="text" name="username" class="form-control m-0" id="username" placeholder="Username" minlength="3" maxlength="20"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="step" id="step-3">
                                <div>
                                    <h5>Legal Information</h5>
                                    <p>Information how we collect and use your data</p>
                                </div>
                                <div>
                                    <div>
                                        <p>
                                            By clicking on "Next" you accept the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="step" id="step-4">
                                <div>
                                    <h5>Security</h5>
                                    <p>Secure your account</p>
                                </div>
                                <div>
                                    <div class="form-group d-flex flex-column mb-2">
                                        <input type="password" class="form-control m-0" id="password" placeholder="Password" minlength="12"
                                            name="password" required>
                                    </div>
                                    <div class="form-group d-flex flex-column">
                                        <input type="password" class="form-control m-0" id="confirmPassword" placeholder="Confirm Password" minlength="12"
                                            name="confirmPassword" required>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <button type="button" class="btn border text-white" id="backButton"
                                    disabled>Back</button>
                                <button type="button" class="btn btn-primary" id="nextButton">Next</button>
                                <button type="submit" class="btn btn-success w-25" id="submitButton"
                                    style="display: none;">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </main>
    </section>
</body>

</html>