<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/helper.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/register.js" defer></script>
    <script src="/js/helper.js" defer></script>
    <script src="/js/bundle.js" defer></script>
</head>
<body>
    <section>
        <main>
            <div class="container d-flex flex-column align-items-center justify-content-center">
                <div class="bg-dark p-2 rounded-3">
                    <form action="/login" method="post">
                        <input type="email" name="email" id="email" placeholder="E-Mail" class="form-control p-2">
                    </form>
                </div>
            </div>
        </main>
    </section>
</body>
</html>