<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/helper.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/register.js" defer></script>
    <script src="/js/helper.js" defer></script>
    <script src="/js/bundle.js" defer></script>
</head>
<body>
    <section>
        <main>
            <div class="container d-flex vh-100 align-items-center justify-content-center">
                <div class="bg-dark p-4 rounded-3">
                    <div class="text-center text-light">
                        <h4>Register</h4>
                        <p>Welcome to DZ Messages.</p>
                    </div>
                    <form action="/register" method="post">
                        <input type="email" name="email" id="email" placeholder="E-Mail" class="form-control p-2">
                        <input type="email" name="email" id="email" placeholder="E-Mail" class="form-control p-2">
                        <input type="email" name="email" id="email" placeholder="E-Mail" class="form-control p-2">
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control p-2">
                        <button type="button" class="btn btn-primary">Next</button>
                    </form>
                </div>
            </div>
        </main>
    </section>
</body>
</html>